*{
    margin: 20;
    padding: 10;
    box-sizing: border-box;
}/*aplica a todos os elementos*/

.destaque{
    color: blue;
    font-weight: bold;
}/*reutilizável em vários elementos*/

#titulo-principal{
    color: red;
    text-align: center;
}/*único, para um elemento específico*/

p{
    font-size: 30px;
    line-height: 1.5;
}/*altera todos os elementos daquela tag*/

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}/*Agrupamento de seletores*/

h4{
    line-height: 1.5;
    letter-spacing: 2px;
    word-spacing: 5px;
}

img{
    width: 300px;
    border: 3px solid red;
    display: block;
    margin: auto;
}

ul{
    list-style-type: disc;
}